@charset "UTF-8";
/* CSS Document */

@font-face {
   font-family: norwester;
   src:url(../fonts/webfonts/norwester.woff);}
 
/********************* nav and header ****************/
header{
background-image:url(../img/navbar.png);
background-size:100%;
background-repeat:no-repeat;
width:100%;
height:320px;}

.logo{
float:left;
width:100%;
max-height:100px;
margin: 25px 0 0 25px;}


.nav{
right:110px;
max-width:75px;
width:100%;}

/********************* project pictures ****************/
.dot{
background-image:url(../img/project-dot-preview.jpg);
background-size:100%;
background-repeat:no-repeat;
width:100%;
height:606px;}

.dot:hover{
background-image:url(../img/hover-project-dot-preview.jpg);}

.bmw{
background-image:url(../img/img-placeholder-medium.jpg);
background-size:100%;
background-repeat:no-repeat;
width:100%;
max-width:470px;
height:407px;}

.bmw:hover{
background-image:url(../img/hover-img-placeholder-medium.jpg);}

.odd{
background-image:url(../img/img-placeholder-medium.jpg);
background-size:100%;
background-repeat:no-repeat;
width:100%;
max-width:470px;
height:407px;}

.odd:hover{
background-image:url(../img/hover-img-placeholder-medium.jpg);}

.jewel{
background-image:url(../img/project-jewel-covers.jpg);
background-size:100%;
background-repeat:no-repeat;
width:100%;
max-width:470px;
height:407px;}

.jewel:hover{
background-image:url(../img/hover-project-jewel-covers.jpg);}

.universel{
background-image:url(../img/img-placeholder-medium.jpg);
background-size:100%;
background-repeat:no-repeat;
width:100%;
max-width:470px;
height:407px;}

.universel:hover{
background-image:url(../img/hover-img-placeholder-medium.jpg);}

.aperture{
background-image:url(../img/img-placeholder-large.jpg);
background-size:100%;
background-repeat:no-repeat;
width:100%;
height:606px;}

.aperture:hover{
background-image:url(../img/hover-img-placeholder-large.jpg);}

.keep{
background-image:url(../img/img-placeholder-medium.jpg);
background-size:100%;
background-repeat:no-repeat;
width:100%;
max-width:470px;
height:407px;}

.keep:hover{
background-image:url(../img/hover-img-placeholder-medium.jpg);}

.european{
background-image:url(../img/img-placeholder-medium.jpg);
background-size:100%;
background-repeat:no-repeat;
width:100%;
max-width:470px;
height:407px;}

.european:hover{
background-image:url(../img/hover-img-placeholder-medium.jpg);}

.cherry{
background-image:url(../img/img-placeholder-medium.jpg);
background-size:100%;
background-repeat:no-repeat;
width:100%;
max-width:470px;
height:407px;}

.cherry:hover{
background-image:url(../img/hover-img-placeholder-medium.jpg);}

.jack{
background-image:url(../img/project-jack-and-jill-presentation.jpg);
background-size:100%;
background-repeat:no-repeat;
width:100%;
max-width:470px;
height:407px;}

.jack:hover{
background-image:url(../img/hover-project-jack-and-jill-presentation.jpg);}

/********************* project hover titles ****************/
.project-preview figure{
overflow: hidden;
width:100%;
margin:0 auto;}
 
.project-preview figcaption {
color: white;
display: table;
height: 30px;
opacity: 0;
position: absolute;
width:282px;
left: 50%;
top:50%;
margin-left:-150px;
margin-top:-50px;
z-index: 100;}
 
.project-preview figcaption p {
display: table-cell;
font-size: 1.5em;
text-align:center;
color:white;
position: relative;
-webkit-transition: all 300ms ease-out;
-moz-transition: all 300ms ease-out;
transition: all 300ms ease-out;
vertical-align: middle;}

.project-preview:hover figcaption {
opacity: 1;}

.project-preview:hover figcaption p{
-moz-transform: translateY(40px);
-webkit-transform: translateY(40px);
transform: translateY(40px);}

@media only screen and (max-width:385px){
}


.skill-icons{
width:60px;
max-width:90px;
min-width:60px;}
	
.icon-names{
	font-family: norwester, sans-serif;
	font-size:210%;
	font-weight: normal;
  font-style: normal;
  color: #298562;
  text-rendering: optimizeLegibility;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  line-height: 1.4; }
/********************* footer ****************/
footer{
position:absolute;
background-image:url(../img/footer-bar.png);
background-size:100%;
background-repeat:no-repeat;
width:100%;
height:392px;
margin:0 auto;
margin-top:90px;}

footer p{
	font-size:10px;
	color:black;}
