/*@charset UTF-8;*/

@font-face {
font-family:norwester;
src:url(../fonts/norwester.woff);
}

body {
background-color:#ccffcc;
}

.columns {
margin-bottom:1.875rem;
}

.project-info p {
color:#FFF;
font-size:1.5em;
text-align:center;
margin:0;
padding:8% 8% 3%;
}

.project-info a {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background-image:url();
background-size:100%;
color:#FFF;
visibility:hidden;
text-decoration:none;
transition:all .05s ease-in-out;
}

.bmw a {
background-image:url(../images/hover-project-bmw-cca-form-mockup-large.jpg);
}

.dot a {
background-image:url(../images/hover-project-dot-all-front-large.jpg);
}

.odd a {
background-image:url(../images/hover-project-odd-duck-style-guide-logo-spread-large.jpg);
}

.jewel a {
background-image:url(../images/hover-project-jewel-of-seven-stars-covers-front-large.jpg);
}

.universel a {
background-image:url(../images/hover-project-universel-before-and-after-page-front-large.jpg);
}

.aperture a {
background-image:url(../images/hover-project-apreture-cake-is-a-lie-spread-front-large.jpg);
}

.blur a {
background-image:url(../images/hover-project-blur-parties-double-spread-ad-front-large.jpg);
}

.european a {
background-image:url(../images/hover-project-european-auto-tech-responsive-display-large.jpg);
}

.cherry a {
background-image:url(../images/hover-project-cherry-bunny-package-large.jpg);
}

.jack a {
background-image:url(../images/hover-project-jack-and-jill-tag-large.jpg);
}

.project-info-center {
position:relative;
top:50%;
-webkit-transform:translateY(-50%);
-ms-transform:translateY(-50%);
transform:translateY(-50%);
}

.project-img {
margin-top:100px;
}

.project-info:hover a {
visibility:visible;
}

.large-6 textarea {
height:200px;
}

.padding-right {
padding-right:1.875rem;
}

.aboutme {
font-family:futura-pt,sans-serif;
font-size:1.25rem;
margin-top:25px;
margin-left:-15px;
}

.aboutme:active {
color:#FFF;
}

.top {
top:0;
}

.skill-icons img {
max-width:90px;
min-width:60px;
width:60px;
margin-bottom:20px;
}

.aiga-icon img {
max-width:90px;
min-width:60px;
width:60px;
}

.margin img {
margin-right:25px;
margin-top:25px;
}

.icon-names p {
color:#298562;
font:normal normal 210% norwester, sans-serif;
line-height:1.4;
margin-bottom:1.95rem;
margin-top:.4rem;
text-rendering:optimizeLegibility;
margin-left:20px;
}

.clear-padding {
margin-bottom:0;
padding:0;
}

.clear-margin {
margin-bottom:0;
padding-bottom:0;
}

.aiga-text {
padding-left:40px;
}

.absolute {
position:absolute;
width:100%;
}

.bottom {
bottom:0;
margin-bottom:0;
}

.bottom p {
color:#FFF;
font-size:14px;
text-align:center;
}

header img,footer img {
width:100%;
}

.paragraphs p {
margin-bottom:20px;
}

.social img {
max-width:124px;
width:124px;
margin-bottom:20px;
}

.project-list a {
font:16pt futura-pt,sans-serif;
font-variant:small-caps;
}

.project-info,header,footer {
position:relative;
}

@media only screen and (max-width:736px){
.bottom {
margin-bottom:-10px;
}

.bottom p {
bottom:0;
padding:15px;
}

.aboutme {
font-size:14px;
}
}

@media only screen and (max-width:640px) {
.logo img {
width:85%;
}

.aboutme {
margin-left:-25px;
margin-top:-5px;
}

.bottom {
bottom:0;
}

.jack a {
background-image:url(../images/hover-project-jack-and-jill-tag-small.jpg);
}

.cherry a {
background-image:url(../images/hover-project-cherry-bunny-package-small.jpg);
}

.blur a {
background-image:url(../images/hover-project-blur-parties-double-spread-ad-front-small.jpg);
}

.jewel a {
background-image:url(../images/hover-project-jewel-of-seven-stars-covers-front-small.jpg);
}

.dot a {
background-image:url(../images/hover-project-dot-all-front-small.jpg);
}

.odd a {
background-image:url(../images/hover-project-odd-duck-style-guide-logo-spread-small.jpg);
}

.bmw a {
background-image:url(../images/hover-project-bmw-cca-form-mockup-small.jpg);
}

.universel a {
background-image:url(../images/hover-project-universel-before-and-after-page-small.jpg);
}

.aperture a {
background-image:url(../images/hover-project-apreture-cake-is-a-lie-spread-front-small.jpg);
}

.european a {
background-image:url(../images/hover-project-european-auto-tech-responsive-display-small.jpg);
}
}
